## Import functions
import("stats")
import("graphics")
import("disttree")
import("partykit")
importFrom("grDevices", "gray")
importFrom("sandwich", "estfun")
importFrom("sandwich", "bread")

## Export functions
export("circmax")
export("circmax_control")
export("circmax_fit")
export("circmax_simulate")
export("dvonmises")
export("vonmises_bamlss")
export("dist_vonmises")
export("circfit")
export("circtree")
export("circtree_simulate")
export("circforest")
export("crps_vonmises")

## Methods for circmax
S3method("coef", "circmax")
S3method("logLik", "circmax")
S3method("predict", "circmax")
S3method("print", "circmax")
S3method("terms", "circmax")
S3method("model.frame", "circmax")
S3method("model.matrix", "circmax")
S3method("vcov", "circmax")
S3method("estfun", "circmax")

## Methods for circtree
S3method("coef", "circtree")
S3method("logLik", "circtree")
S3method("predict", "circtree")
S3method("print", "circtree")
S3method("plot", "circtree")

## Methods for circforest
S3method("logLik", "circforest")
S3method("predict", "circforest")
S3method("varimp", "circforest")

## Methods for plotting trees
S3method("drawDetails", "resizingTextGrob")
S3method("preDrawDetails", "resizingTextGrob")
S3method("postDrawDetails", "resizingTextGrob")

## Bind .so files
useDynLib(circtree)
