import("partykit")
import("gamlss.dist")
importFrom("graphics",
  "plot",
  "hist",
  "lines"
)
importFrom("stats",
  "nobs",
  "optim",
  "qnorm",
  "weighted.mean"
)
importFrom("sandwich",
  "bread",
  "estfun"
)

export(
  ## core distribution fitting function
  "distfit",

  ## distributional tree
  "disttree",

  ## distributional forest
  "distforest",

  ## family list generating function
  "make_dist_list"
)

## methods
S3method("bread", "distfit")
S3method("coef", "distfit")
S3method("confint", "distfit")
S3method("estfun", "distfit")
S3method("logLik", "distfit")
S3method("nobs", "distfit")
S3method("vcov", "distfit")
S3method("predict", "distfit")

S3method("print", "disttree")
S3method("predict", "disttree")

S3method("predict", "distforest")
S3method("logLik", "distforest")
